/* Heading */
h1 {
    text-align: center;
}

/* score area */
#score-area {
    text-align: center;
    margin: 10px auto;
}

/* category area */
#quiz-category-area {
    text-align: center;
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* quiz area */
#quiz-area {
    text-align: center;
    margin: 10px auto;
}

#quiz-area label:hover{
    background-color: aquamarine
}

#quiz-area button{
    margin: 10px auto;
}

#quiz-area input {
    display: none;
}
