/* Header */
#header {
    display: flexbox;
    flex-direction: row;
}

/* score area */
#score-area {
    text-align: center;
    margin: 10px auto;
}

/* category area */
#quiz-category-area {
    text-align: center;
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* quiz area */
#quiz-area {
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
}

#quiz-area label{
border: 1px solid black;
}

#quiz-area label:hover{
    background-color: aquamarine
}

#quiz-area button{
    margin: 5px auto;
}

#quiz-area input {
    display: none;
}
