/* Header */
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #868cdf, #9845cf );
}

#page-wrapper{
    min-height: 100vh;
}

#header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-image: linear-gradient(to right, #868cdf, #9845cf );
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: double 5px black;
}

button {
    border-radius: 10px;
}

#logo {
    color: black;
    text-decoration: none;
    margin-left: 10px;

}

#how-to-play {
    color: black;
    text-decoration: none;
}

#nav-links {
    margin: auto 10px auto 0;
}

.active {
    border-bottom: black solid 1px;
}

/* score area */
#score-area {
    text-align: center;
    margin: 100px auto 10px auto;
}

#score {
    color: green;
}

#life-points {
    color: red;
}

/* category area */
#quiz-category-area {
    text-align: center;
    margin: 30px auto 10px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#quiz-category-area button{
    font-size: 1.5em;
}

/* quiz area */
#quiz-area {
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
    max-width: 80%;
}

#quiz-area label{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

#quiz-area label:hover{
    background-color: aquamarine
}

#quiz-area button{
    margin: 5px auto;
    font-size: 1.2em;
}

#quiz-area input {
    display: none;
}


/* footer */
footer{
    background-image: linear-gradient(to right, #868cdf, #9845cf );
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: double 5px black;
}

footer i{
    font-size: 2em;
    vertical-align: middle;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a{
    text-decoration: none;
}

footer ul li{
    display: inline;
    color: black;
    text-decoration: none;
}

.fa-black {
    color: black;
}

/* Pop-up divs. These are invisible unless a certain condition is met. */
.pop-up-msgs {
    position: absolute;
    top: 40%;
    left: 0;
    height: 40%;
    background-color: rgba(10, 3, 3, 0.9);
    color: white;
    text-align: center;
    display: none;
}

#game-over-div h2{
    color: red;
}


#geography-done h2, #science-done h2, #music-done h2, #animals-done h2 {
    color: green;
}

#win-msg h2{
    color: orange;
}

#final-score{
    color: green;
    border-bottom: green solid 1px;
}

#score2{
    color: green;
}


/* How to play page */
#instructions-area {
    padding-top: 90px;
    min-height: 100vh;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* header for tablets */
    #logo{
        font-size: 1.1em;
    }

    #nav-links{
        font-size: 1.2em;
    }

    /* score area for tablets */
    #score-area{
        font-size: 1.2em;
    }

    /* quiz area for tablets */
    #quiz-area label{
        font-size: 1.2em;
    }

    /* footer */
    footer{
        height: 60px;
    }

    footer i{
        font-size: 2.4em;
    }
}

/* Larger tablets/desktops */
@media only screen and (min-width: 768px) and (max-width: 991px){
        /* header for tablets */
        #logo{
            font-size: 1.2em;
        }
    
        #nav-links{
            font-size: 1.3em;
        }
    
        /* score area for tablets */
        #score-area{
            font-size: 1.3em;
        }
    
        /* quiz area for tablets */
        #quiz-area label{
            font-size: 1.3em;
        }

        #quiz-area {
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 10px;
            max-width: 80%;
        }

        #question{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .column-one{
            grid-column-start:1;
            grid-column-end: 2;
        }

        .column-two{
            grid-column-start:2;
            grid-column-end: 3;
        }
    
        /* footer */
        footer{
            height: 60px;
        }
    
        footer i{
            font-size: 2.4em;
        }
}

/* desktops */
@media only screen and (min-width: 992px) {

}