/* Header */

#header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: aquamarine;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
}

#logo {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

#contact-us {
    color: black;
    text-decoration: none;
}

#contact-us-div {
    margin: auto 10px auto 0;
}



/* score area */
#score-area {
    text-align: center;
    margin: 90px auto 10px auto;
}

#score {
    color: green;
}

#life-points {
    color: red;
}

/* category area */
#quiz-category-area {
    text-align: center;
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#quiz-category-area button{
    font-size: 1.5em;
}

/* quiz area */
#quiz-area {
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
    background-color: rgba(250, 190, 88, .5) ;
}

#quiz-area label{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

#quiz-area label:hover{
    background-color: aquamarine
}

#quiz-area button{
    margin: 5px auto;
    font-size: 1.2em;
}

#quiz-area input {
    display: none;
}
