/* Header */
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(orange, brown);
}

#header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: aquamarine;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
}

#logo {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

#how-to-play {
    color: black;
    text-decoration: none;
}

#how-to-play-div {
    margin: auto 10px auto 0;
}

.active {
    border-bottom: black solid 1px;
}



/* score area */
#score-area {
    text-align: center;
    margin: 90px auto 10px auto;
}

#score {
    color: green;
}

#life-points {
    color: red;
}

/* category area */
#quiz-category-area {
    text-align: center;
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#quiz-category-area button{
    font-size: 1.5em;
}

/* quiz area */
#quiz-area {
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
    background-color: rgba(250, 190, 88, .5) ;
}

#quiz-area label{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

#quiz-area label:hover{
    background-color: aquamarine
}

#quiz-area button{
    margin: 5px auto;
    font-size: 1.2em;
}

#quiz-area input {
    display: none;
}

/* footer */
footer{
    background-color: aquamarine;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer i{
    font-size: 2em;
    vertical-align: middle;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a{
    text-decoration: none;
}

footer ul li{
    display: inline;
    color: black;
    text-decoration: none;
}

.fa-black {
    color: black;
}

/* Pop-up divs. These are invisible unless a certain condition is met. */
.pop-up-msgs {
    position: absolute;
    top: 40%;
    left: 0;
    height: 40%;
    background-color: rgba(10, 3, 3, 0.9);
    color: white;
    text-align: center;
    display: none;
}

#game-over-div h2{
    color: red;
}


#geography-done h2, #science-done h2, #music-done h2, #animals-done h2 {
    color: green;
}

#win-msg h2{
    color: orange;
}

#final-score{
    color: green;
    border-bottom: green solid 1px;
}

#score2{
    color: green;
}


/* How to play page */
#instructions-area {
    margin-top: 90px;
}